{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter new password twice.</p>
            <form method="POST">
                {% for item in form %}
                <p>
                    {{ item.label }}<br />
                    {{ item }}{{ item.errors }}
                </p>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because
            it has already been used. Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}