{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}

{% block content %}
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    {% if form.errors %}
    {% endif %}
    <form method="POST">
        {% for item in form %}
            <p>
                {{ item.label }}<br />
                {{ item }}{{ item.errors }}
            </p>
        {% endfor %}
        {% csrf_token %}
        <p><input type="submit" value="change" /></p>
    </form>
{% endblock %}